@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
.video-container {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container iframe {
  pointer-events: none;
}

.video-container iframe {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
}

.video-foreground {
  pointer-events: none;
}

.height-carousel {
  width: 1200px;
  height: 600px;
  margin-left: 1rem;
}

.carousel-centrado {
  width: 90%;
  margin: 2rem auto;
}

.img-fondo-prueba {
  background-image: url("https://images.unsplash.com/photo-1606839963602-d86bc4b1d527?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80");
  background-size: cover;
}

.imagenes-grid {
  width: 80%;
  height: 300px;
}

.imagenes-grid:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 6px 16px #006eff;
          box-shadow: 0 6px 16px #006eff;
}

.interesting-title {
  color: #06ff8b;
  padding: 0.125em 0.5em;
}

.example > * {
  -webkit-filter: drop-shadow(0 0 0.5rem black);
          filter: drop-shadow(0 0 0.5rem black);
  -webkit-filter: blur(0.25rem) grayscale(1) drop-shadow(0 0 0.5rem black);
          filter: blur(0.25rem) grayscale(1) drop-shadow(0 0 0.5rem black);
  -webkit-transition: -webkit-filter 500ms;
  transition: -webkit-filter 500ms;
  transition: filter 500ms;
  transition: filter 500ms, -webkit-filter 500ms;
}

.example:hover > * {
  -webkit-filter: blur(0) grayscale(0) drop-shadow(0 0 5rem black);
          filter: blur(0) grayscale(0) drop-shadow(0 0 5rem black);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.example {
  padding: 2.3rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
      grid-template-areas: "stack";
}

.example > * {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stack;
}

.interesting-title {
  z-index: 99;
  font-size: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tfuente {
  font-family: "Encode Sans", sans-serif, "Calibri";
  font-weight: 600;
  font-size: 56.25px;
  color: white;
  -webkit-filter: drop-shadow(0 0 0.05rem black);
          filter: drop-shadow(0 0 0.05rem black);
}

.tfuente2 {
  font-family: "Poiret One", cursive, sans-serif, "Calibri";
  font-weight: bold;
  color: white;
  -webkit-filter: drop-shadow(0 0 0.05rem black);
          filter: drop-shadow(0 0 0.05rem black);
}

.btn-SCSS1, .btn-SCSS2, .btn-SCSS3 {
  font-size: 18px;
  background-color: #00bd00;
}

.btn-SCSS2 {
  background-color: cornsilk;
  color: #26272b;
}

.btn-SCSS3 {
  background-color: #006eff;
}

.img-bg-main {
  width: 100%;
  height: 100%;
}

.img-cartas-mendoza {
  width: 100%;
  height: 400px;
}

.img-carousel-bsas {
  width: 100%;
  height: 760px;
  border-radius: 40px;
}

.img-fondo-covid {
  background-image: url("https://images.unsplash.com/photo-1610703415552-d7fca41a8857?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80");
  background-size: cover;
  height: 600px;
}

.tamaño-letra {
  font-size: 18px;
}

.img-links-covid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}

.link-covid {
  color: blue;
}

.link-covid:visited {
  color: red;
}

.fuenteEncode {
  font-family: "Encode Sans", sans-serif, "Calibri";
  font-weight: 400;
}

.fuentePoiret {
  font-family: "Poiret One", cursive, sans-serif, "Calibri";
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.example-top {
  -webkit-filter: drop-shadow(0 0 1rem black);
          filter: drop-shadow(0 0 1rem black);
}

.img-carousel-bariloche {
  width: 100%;
  height: 350px;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 18px;
  line-height: 25px;
  color: #737373;
}

.site-footer h6 {
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #eeeeee;
}

.footer-links a:hover {
  color: red;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #d32828;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.logo {
  width: 20px;
  height: 20px;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
}

@media (min-width: 0px) and (max-width: 378.98px) {
  .video-container {
    display: none;
  }
  .imagenes-grid {
    width: 80%;
    height: 200px;
  }
  .interesting-title {
    font-size: 1.2rem;
  }
  .tfuente {
    font-size: 20px;
  }
  .img-carousel-bsas {
    width: 100%;
    height: 200px;
  }
  .img-cartas-mendoza {
    width: 100%;
    height: 200px;
  }
  .img-carousel-bariloche {
    width: 100%;
    height: 200px;
  }
  .height-carousel {
    width: 100%;
    height: 200px;
    margin-left: 1rem;
  }
}

@media (min-width: 380px) and (max-width: 575.98px) {
  .video-container {
    display: none;
  }
  .imagenes-grid {
    width: 80%;
    height: 300px;
  }
  .interesting-title {
    font-size: 1.5rem;
  }
  .tfuente {
    font-size: 29px;
  }
  .img-carousel-bsas {
    width: 100%;
    height: 250px;
  }
  .img-cartas-mendoza {
    width: 100%;
    height: 260px;
  }
  .img-carousel-bariloche {
    width: 100%;
    height: 260px;
  }
  .height-carousel {
    width: 100%;
    height: 300px;
    margin-left: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .video-container {
    width: 100%;
    height: 320px;
  }
  .imagenes-grid {
    width: 80%;
    height: 300px;
  }
  .interesting-title {
    font-size: 1.5rem;
  }
  .tfuente {
    font-size: 35px;
  }
  .img-carousel-bsas {
    width: 100%;
    height: 350px;
  }
  .img-cartas-mendoza {
    width: 100%;
    height: 350px;
  }
  .img-carousel-bariloche {
    width: 100%;
    height: 350px;
  }
  .height-carousel {
    width: 100%;
    height: 350px;
    margin-left: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .video-container {
    width: 100%;
    height: 400px;
  }
  .imagenes-grid {
    width: 80%;
    height: 200px;
  }
  .interesting-title {
    font-size: 1.2rem;
  }
  .tfuente {
    font-size: 45px;
  }
  .img-carousel-bsas {
    width: 100%;
    height: 400px;
  }
  .img-cartas-mendoza {
    width: 100%;
    height: 400px;
  }
  .img-carousel-bariloche {
    width: 100%;
    height: 400px;
  }
  .height-carousel {
    width: 100%;
    height: 460px;
    margin-left: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .video-container {
    width: 100%;
    height: 500px;
  }
  .imagenes-grid {
    width: 80%;
    height: 270px;
  }
  .interesting-title {
    font-size: 1.5rem;
  }
  .tfuente {
    font-size: 52.25px;
  }
  .img-carousel-bsas {
    width: 100%;
    height: 550px;
  }
  .img-carousel-bariloche {
    width: 100%;
    height: 560px;
  }
  .height-carousel {
    width: 100%;
    height: 600px;
    margin-left: 1rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .video-container {
    width: 100%;
    height: 600px;
  }
  .imagenes-grid {
    width: 80%;
    height: 300px;
  }
  .img-carousel-bariloche {
    width: 100%;
    height: 660px;
  }
  .height-carousel {
    width: 100%;
    height: 600px;
    margin-left: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */