$estilos: (
  tamanoFuente: 15px,
  entreLineado: 24px,
  //boostrap ya en si me permitió cambiar el tamaño de fuente de las letras, y el centrado, etc.
);

@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

.video-container {
  @include sizes(100%, 1000px);
  overflow: hidden;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    @include sizes(100%, 100%);

    & {
      pointer-events: none;
    }

    & {
      position: absolute;
      top: -60px;
      left: 0;
      @include sizes(100%, calc(100% + 120px));
    }
  }
}

.video-foreground {
  pointer-events: none;
}

// .height {
//   @include sizes(100%, 400px);
// }

.height-carousel {
  @include sizes(1200px, 600px);
  margin-left: 1rem;
}

.carousel-centrado {
  width: 90%;
  margin: 2rem auto;
}

.prueba2 {
  position: relative; //esta es una clase para una animacion que estoy intentando hacer
}

.imagenes-grid {
  @include sizes(300px, 200px);
  display: flex;
  transition: 0.7s;
}

.imagenes-grid:hover {
  transform: scale(1.1);
  opacity: 0.2;
  // display: none;
}

.prueba { //esta es una clase para una animacion que estoy intentando hacer
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;

  // &:hover {
  //   display: block;
  //   position: absolute;
  // }
}

.imagenes-grid:hover + .prueba { //esta es una clase para una animacion que estoy intentando hacer
  display: block;
}

.tfuente {
  line-height: map-get($estilos, entreLineado);
  font-size: map-get($estilos, tamanoFuente);

  //esto quizas pueda hacerlo variable global o dentro de un map, y usar un map get para los estilos de texto de todas las pages
}

//--------------------------------------------Destinos------------------------------------

//apliqué un extend para cambiar los colores de los botones, pero no quedaria uniforme, no me gustó

.btn-SCSS1 {
  font-size: 18px;
  background-color: rgb(0, 189, 0);
}

.btn-SCSS2 {
  @extend .btn-SCSS1;
  background-color: cornsilk;
  color: #26272b;
}

.btn-SCSS3 {
  @extend .btn-SCSS1;
  background-color: rgb(0, 110, 255);
}

.img-bg-main {
  @include sizes(100%, 100%);
}

.img-cartas-mendoza {
  @include sizes(100%, 400px);
}

.img-carousel-bsas {
  @include sizes(100%, 760px);
  border-radius: 40px;
}

//--------------------------------------------Covid------------------------------------

.tamaño-letra {
  font-size: map-get(
    $estilos,
    tamanoFuente
  ); //posite hacerlo con un map, map-get
}

.img-links-covid {
  display: flex;
  height: 300px;
}

//--------------------------------------------Top------------------------------------

.img-carousel-bariloche {
  @include sizes(100%, 350px);
}

//--------------------------------------------FOOTER------------------------------------

.site-footer {
  background-color: #26272b;
  //este color de fondo no lo hago con map, porque solo lo uso en el footer, y se replica en todas las page
  padding: 45px 0 20px;
  font-size: map-get($estilos, tamanoFuente);
  line-height: map-get($estilos, entreLineado);
  color: #737373;
  //no lo hago con map, mismo motivo que el color de fondo, si fuera a utilizarlo en otras partes si

  h6 {
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
  }
}

.footer-links {
  padding-left: 0;
  list-style: none;

  li {
    display: block;
  }

  a {
    color: #eeeeee;

    &:hover {
      color: red;
    }
  }

  a:active,
  a:focus,
  a:hover {
    color: #d32828;
    text-decoration: none;
  }
}

.footer-links.inline li {
  display: inline-block;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
}

@media (min-width: 0px) and (max-width: 378.98px) {
  
  .video-container {
    display: none;
  }

  .img-carousel-bsas {
    @include sizes(100%, 200px);
  }

  .img-cartas-mendoza {
    @include sizes(100%, 200px);
  }
  .img-carousel-bariloche {
    @include sizes(100%, 200px);
  }

  .height-carousel {
    @include sizes(100%, 200px);
    margin-left: 1rem;
  }
}

@media (min-width: 380px) and (max-width: 575.98px) {
  
  .video-container {
    display: none;
  }

  .img-carousel-bsas {
    @include sizes(100%, 250px);
  }

  .img-cartas-mendoza {
    @include sizes(100%, 260px);
  }

  .img-carousel-bariloche {
    @include sizes(100%, 260px);
  }

  .height-carousel {
    @include sizes(100%, 260px);
    margin-left: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  
  .video-container {
    @include sizes(100%, 320px);
  }

  .img-carousel-bsas {
    @include sizes(100%, 350px);
  }

  .img-cartas-mendoza {
    @include sizes(100%, 350px);
  }

  .img-carousel-bariloche {
    @include sizes(100%, 350px);
  }

  .height-carousel {
    @include sizes(100%, 350px);
    margin-left: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  
  .video-container {
    @include sizes(100%, 400px);
  }

  .img-carousel-bsas {
    @include sizes(100%, 400px);
  }

  .img-cartas-mendoza {
    @include sizes(100%, 400px);
  }

  .img-carousel-bariloche {
    @include sizes(100%, 400px);
  }

  .height-carousel {
    @include sizes(100%, 460px);
    margin-left: 1rem;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
  
  .video-container {
    @include sizes(100%, 500px);
  }

  .img-carousel-bsas {
    @include sizes(100%, 550px);
  }

  .img-carousel-bariloche {
    @include sizes(100%, 560px);
  }

  .height-carousel {
    @include sizes(100%, 600px);
    margin-left: 1rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  
  .video-container {
    @include sizes(100%, 600px);
  }

  .img-carousel-bariloche {
    @include sizes(100%, 660px);
  }

  .height-carousel {
    @include sizes(100%, 600px);
    margin-left: 1rem;
  }
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
//@media (max-width: 575.98px) {}

// `md` applies to small devices (landscape phones, less than 768px)
//@media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
//@media (max-width: 991.98px) {}

// `xl` applies to large devices (desktops, less than 1200px)
//@media (max-width: 1199.98px) {}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
//@media (max-width: 1399.98px) { }
